/* ***********************Max Width length************************Footer */

footer{
   
    left:0;
    bottom: 0;
    
    width: 100%;
    height:300px ;
    background-color: #000;
    background-image: url("../Images/footer\ bg.jpg");
    background-repeat: no-repeat;
    background-size: 80% 125%;
  }
  .footercontent form{
      max-width: 300px;
  }
  hr{
      visibility: hidden;
  }
  .footercontent form button{
    border-radius: 5px;
    background-color: #1473E6;
    width: 150px;
    border: unset;
    /* padding-bottom: 5px; */
}
  .servicelinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .subfooter{
    
    position: relative;
    top: 8.5%;
    left:0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: rgba(15, 171, 188, 0.5);
    color: #FFFF;
  
  }
  
  .ftrservicelist{
    display: flex;
    background-color:rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    padding-right: 100px;
    justify-content: space-between;
    border-radius: 20px;
  }
  
  .nestftr{
    display: flex;
    flex-direction: row;
  }
  .nestftr  ul{
    font-size: 0.8rem;
    width: 75%;
    margin-top: 0px;
    list-style: none;
  }
  
  #usefulllinks{
    color: #000;
    font-weight: 600;
    padding-left: 20px;
    font-size: 1.3rem;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .nestftrlinks ul{
      list-style: none;
  }
  .nestftrlinks ul li a{
    color: #FFFF;
    font-size: 0.8rem;
  }
  .ftrlinks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#12CAD6;
    margin-top: 30px;
    padding-right: 20px;
    border-radius: 10px;
  }
  
  .ftrmain div h3{
    display: flex;
    justify-content: center;
    color: #ffff;
    font-weight: 600;
  }
  .ftrmain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .footercontent h2{
    color: #fa1616;
  }
  
  .footercontent{
    display: block;
    padding-top: 30px;
    width: 300px;
    height: 100px;
    color: #ffff;
    
    font-size: 0.8rem;
  }
  .subfooter div p{
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    position: relative;
    font-size: 12px;
    padding-top: 1%;
    padding-left: 0%;
  }
  :hover.uk-icon-button{
      color:#000000;
  }
  .fticons{
    padding-top: 1%;
  }
  .fticons a{
      background-color: rgba(15, 171, 188, 0.1);
      color: #FA1616;
  }
  .subftricon{
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    
  
  }
  .footericons{
      display: none;
  }

  /* ********************************************1000px width */
  @media screen  and (max-width:1000px){
    
    .footercontent h2{
        margin-bottom: 0px;
        
    }
    hr{
        visibility: visible;
       
    }
  .footercontent{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-left: 5%;
    padding-top: 10px;
    width: 85%;
    height: 40%;
  }

  
 .servicelinks{
   width: 100%;
   
 }
  .ftrservicelist{
    
    background-color:unset;
    
    height:100%;
  }
  .ftrservicelist div{
    display: flexbox;
    background-color: unset;
    
  }
  .ftrservicelist div h3{
    color: #aaaaaa;
    font-size: 1rem;
    margin-left: 30px;
 }
  
  .ftrlinks  {
   display: flex;
   flex-direction: column;
   font-size: 1rem;
   /* margin-bottom: 25%; */
   background-color:unset;
   
   
  }
  .nestftrlinks{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    list-style: none;
  }
  #usefulllinks{
    color: #aaaaaa;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 5px;
    
  }
  .subfooter{
      display: none;
  }
.footericons .subicons{
    padding-top: 10px;
    
}

.footericons {
    background-color: rgba(15, 171, 188, 0.5);
    position: relative;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}
  
 .ftrmain{
   flex-direction: column;
   padding: 0;      
   justify-content: unset;
  
 }

 footer{

   position:relative;
   
   height: 450px;
   background-image: none;
   background-color: #444444;
 }
}

/* ********************************************768px width */

@media all and (max-width:768px){
    
    .footercontent p{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.6rem;
    }
    hr{
        visibility: visible;
        margin-top: 15px;
        position: relative;
        
       
    }
    .footercontent{
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 35%;
        padding-top: 5px;
      }
 
     .servicelinks{
      
       width: 100%;
       padding-right: 0px;
       height: 48%;
       margin-bottom: -15px;
       font-size: 0.6rem;
       
     }
      .ftrservicelist {
        background-color: unset;
        padding-right: 0;
        margin-top: 0;
        
      }
      .ftrservicelist div h3{
         color: #aaaaaa;
         font-size: 1rem;
         margin-bottom: 0;
         margin-left: 0;
      }
      
      .ftrlinks  {
       display: flex;
       flex-direction: column;
       font-size: 1rem;
       padding-right: 0;
       margin-top: 0;
       margin-bottom: 35px;
      }
      .nestftrlinks ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
        width: 150px;
      }
      #usefulllinks{
        color: #aaaaaa;
        font-size: 1rem;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        
      }
      
      
     .ftrmain{
    
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0;      
     }
     .footericons div{
         font-size: 10px;
         padding-top: 10px;

     }
     .subicons a{
        height: 15px;
        width: 15px;
        color: black;
        background-color: unset;
     }
     .footericons{
         background-color: unset;
         position: relative;
         bottom: 15px;
         margin-bottom:20px ;
         line-height: 2px;
         height: 65px;
     }
     footer{
       height: 400px;
       background-image: none;
       background-color: #444444;
     }

}

@media all and (max-width:440px){
    
    .footercontent,form,p{
        font-size: 0.7rem;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .subftricon div{
        padding-left: 20px;
        font-size: 0.5rem;
        
    }
    .subfooter{
        background-color: unset;
        display: none;
    }
    .servicelinks{
        display: none;
    }

    .footericons div{
       margin-top: 5px;
    }
    .footericons{
        display: flex;
        margin-top: 15%;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-left: 30px;
        line-height: 12px;
        padding-bottom: 0px;
        
        background-color: unset;
    }
    
    hr{
        display: none;
    }

    footer{
        height: 275px;
    }
    .fticons{
        visibility: hidden;
    }
}