/* *************************************************************T&C************ */
#termscontainer{
  display: flex;
  justify-content: center;
  position: sticky;

  background-image: url(../Images/T&C_BG.jpg) ;
  
 
  background-size: cover; 
 
}
#termscard{
  display: flex;
  justify-content: center;
  padding-top: 3%;
  position: relative;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.6) ;
  width: 50%;
  border-radius: 5px;
  padding-bottom: 5%;
}
#termsdesc{
  display: flex;
  flex-direction: column;   
 
  font-size: 14px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

#Termshead{
  text-align: center;
  font-size:36px;
  font-weight: 800;
  padding-top: 2%;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

/* ***********************************************Forget password************ */
#backlogin{
  display: flex;
  justify-content: center;
}
/* ************************************************************************ */
/* >>>>>>>>>>>>>Login page******************************************** */

#logincontainer{
  display: flex;
  justify-content: center;
  position: sticky;
  height: 100vh;
 
  background-image: url(../Images/login_BG.jpg);
  
}
#logincard{
  display: flex;
  justify-content: center;
  padding-top: 3%;
  position: relative;
  margin-top: 7%;
  background-color: rgba(255, 255, 255, 0.95) ;
  height: 451px;
  width: 50%;
  border-radius: 5px;

}


#logincard form{
    display: block;
    /* margin-top: 25%; */
    width: 50%;
    color: #000;
    
    
   
}
#logincard form div input{
width: 100%;
/* background-color:black ; */
border: solid #707070;
color: #000;
border-radius: 5px;

}
#logincard form label{
  color: #000;
}

#loginhead{
  text-align: center;
  font-size:24px;
  font-weight: 800;
  padding-top: 7%;
  font-family: 'Roboto', sans-serif;
  
}
#loginbtn{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  padding-top: 10%;
}
#loginbtn button:hover{
  background-color: #12cad6;
}
#loginbtn button {
  height: 30px;
  width: 75%;
  text-transform: none;
  font-family: 'Roboto', sans-serif; 
  background-color: #0FABBC;
  border: none;
  color: #fff;
  border-radius: 5px;
}
#forgotpass{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
  
  font-family: 'Roboto', sans-serif; font-size: 12px;
  
}

/* ********************************************************************** */
/* **********************************************Account registration */

#regcontainer{
  display: flex;
  justify-content: center;
  position: sticky;

  background-image: url(../Images/registeraccount.jpg) ;
  background-size: cover;
}
#registerhead{
  text-align: center;
  font-size:24px;
  font-weight: 800;
  
  color: #000;
  font-family: 'Roboto', sans-serif;
}

#registermeta{
  text-align: center;
  font-size:12px;
}
#regcheckbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -10px;
  padding-bottom: 20px;
}
#regcheckbox button{
  color: #4156DD;
  text-transform:none;
 
  
}


#registercard form div #regin{
  width: unset;
  height: 20px;
  border: #4156DD solid;
  border-radius: unset;
 
}
#registercard form div #regin:checked{
  background-color:#fff;
  
}

#registercard {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  position: relative;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.7) ;
  height: 500px;
  width: 50%;
  border-radius: 5px;
  padding-bottom: 19%;

  
  
}
#registercard form {
  display: block;
  /* height: 400px; */
  
}
#registercard form div input{
  
  width: 100%;
/* background-color:black ; */
border: solid #707070;
color: #000;
border-radius: 5px;

}
#registercard form label{
  color: #000;
}
/* ***************************************************************** */
/* **************************************Home section 5 Content */

#homesection5card{
  background-image: linear-gradient(#12CAD6,#e66262);
  margin-bottom: 0px;
 

}
#homesection5 {
  padding-bottom: 20px;
}

#contactcontain {
  max-width:800px;
  text-align:center;
  /* padding: 25px 40px 10px 40px; */
  margin-top: -30px;
  
}
.container .text{ 
  font-size:40px;
  font-weight:900;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.container form{
  padding: 30px 0 0 0 0;
}
.container form .form-row{
  display: flex;
  margin:32px 0;
}
form .form-row .input-data{
  width:100%;
  height: 30px;
  margin:0 20px;
  position:relative;
}
.input-data input{
  display:block;
  width:75%;
  border-radius: 5px;
  border-color: unset;
}
.input-data-submit button{
  width:25%;
  height:25px;
  background-color: #0FABBC;
  border:0;
  border-radius:2px;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 1px;
  color:#ffffff;

}

/* .input-data input:valid{
  border:2px solid green;
  
  
}
.input-data input:invalid{
  border:2px solid #999999;
  
} */
.input-data-submit button:hover{
 background-color: #12cad6;
}


/* ************************************************************** */
/* ***********************************Home Section 4 Content */
:hover#imgclust1{
  width: 135px;
  height: 135px;
  
}
#imgclust1{
  width: 125px;
  height: 125px;
  margin-top: 10px;
  background-image: url(../Images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg);
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}
#imgclust2{
  width: 100px;
  height: 100px;
  background-image: url(../Images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg);
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}
#imgclust3{

  width: 100px;
  height: 100px;
  margin-top: 40px;
  background-image: url(../Images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg);
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}
#imgclust4{
  width: 100px;
  height: 100px;
  margin-top: 40px;
  background-image: url(../Images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg);
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}
#imgclust5{
  width: 100px;
  height: 100px;
  margin-top: 40%;
  background-image: url(../Images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg);
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}


#homesection4 h2{
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
}

#homesection4 div{
  padding-left:20px ;
}

#homesection4 {
  padding-bottom: 20px;
}

/* *********************************************************** */
/* ********************************Home section 3 content */
#homesection3{
  margin-top:20px ;
  margin-bottom: 20px;
  /* width: 65%; */
 
}
#homesection3 h2{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

/* ************************************************************ */
/* *****************************HomeSection2 Body content */
#section2{
  position: relative;
  bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(250, 250, 250, 0.7);
}
#section2 div{
padding-bottom: 30px;
border-radius: 10px;
}

#section2 div div h3{
  color: #12CAD6;
  font-weight:bold ;
}
#section2right{
padding-top: 10px;
font-weight: 600;
padding-bottom: 10px;
margin: 0;
}

#section2right span{
  color: #12CAD6;
  padding-left: 30px;

}

/* *******************************Home our Services section********************************* */
#homeOurService{
  background-image: url(../Images/HomeOurServiceBG.jpg);
  background-repeat: no-repeat;
  margin-top: -50px;
  background-size: 150%;
}
#homecontainer{
  position: relative;
  
  
}

#homeOurService h1{
  display: flex;
  font-size: 22px;
  
  justify-content: center;
  background-color: #caf5fa;
  color: #000;
  margin-bottom: 50px;
  font-weight: 700;
  /* width: 50%; */
  border: #fff;
  padding: 10px;
  border-radius: 5px;
  line-height: 29px;
  text-transform: uppercase;
  /* margin-left: 25%; */
}

#homeOurService button{
  /* margin-left: 30px; */
  color: blue;  
  text-transform: capitalize;

}

.uk-card-media-top img{
  width: 100%;
  height: 300px;
}

:hover#ourservicecard{
  background-color: #0FABBC;
  color: #fff;
  
  
} 
#homeOurService div a{
color: #000;
border:thin #000 2px;
margin-bottom: 0px;
left: -30px;
background-color: unset;

}
#ourservicecard{
  position: relative;
  animation: scaleup 1ms;
}


/* ******************************************************************** */

.sidenaveheading address p{
  color: #ffff;
  margin: 0;
}
#ukoffcanvas{
  background-color: #12cad6;
  overflow-y: visible;
}
.offcanvasicons a {
    background-color: rgba(15, 171, 188, 0.1);
      color: #FA1616;
}
.sidenaveheading  address h3,#time{
  color: black;
  font-weight: bold;
}
.bgblue{
    background-color: #0FABBC;
}

.navbtn{
  text-decoration: red
}

:hover #projects{
  color: #fff;
  text-decoration: unset;
}
#projects {
  width: 133px;
 
}
.subpro a {
  color: #ffff;
    font-size: 14px;
    text-decoration: none;
}

.subnav a{
    color: #ffff;
    font-size: 14px;
    text-decoration: none;
}

:hover.subnav{
    background-color: #12CAD6;
    width: 127px;
    
}

:hover.subpro{
  color: #fff;
  background-color: #12CAD6;
  width: 127px;
  
}
header{
    position: relative;
    z-index:50;
   
    width: 100%;
    background-color: rgba(228,249,255, 0.8);
    opacity: 0px;
}
body{
    margin:0;
    padding: 0%;
    height: 100%;
    
   }
.logo i{

  width: 10px;
  height: 15px;
  
  
}
.sidenav{
    position: relative;
    top: 10px;
    padding-right:30px ;

}   

/* :hover.sidenav{
border: #fa1616 2px solid;
transition: 0.9s;
transform: rotateXYZ(90deg)
} */
nav {
    position: relative;
    z-index:10;
    
    background-color:rgba(228,249,255, 0.9);
    line-height:0px;
    font-family: 'Roboto', sans-serif;
}
nav:after{
    content:'';
    clear:both;
    display:table;
    
}

nav .logo img{
    padding-left: 20px;
}
nav .logo{
    display: flex;
    flex-direction: row;
    float: left;
    color: black;
    font-size:27px;
    padding: 30px;
    line-height:5px
    
}

nav ul .mainnav {
    list-style:none;
    margin-right:80px;
    position:relative; 
}

nav ul  {
    float: right;
    list-style:none;
    margin-right:5px;
    line-height:10px;
    position:relative;
}

nav ul li{
    
    display:inline-block;
    margin: 0 5px;
    
}

nav ul li a{

    color:#fa1616;
    text-decoration:none;
    line-height:52px;
    width: fit-content;
    font-size:18px;
    padding: 15px 15px;
}

nav ul ul{
    position:absolute;
    top:55px;
    color: #ffff;
    background-color:#0FABBC ;
    visibility: collapse;
    opacity:0;
    width:127px;
    font-family: 'Roboto', sans-serif;
    transition: top .3s;
    
}

nav ul li:hover> ul {
    display:block;
    opacity:1;
    visibility:visible;
    transition: 1.2s;
}
nav ul ul .subpro{
  position:relative;
  border-top:2px solid #ffff;
  color: white;
  right:30px;
  margin:0px;
  width:133px;
  float:none;
  display:list-item;
  padding-left:12px;
} 

nav ul ul .subnav {
    position:relative;
    border-top:2px solid #ffff;
    color: white;
    right:30px;
    margin:0px;
    width:128px;
    float:none;
    display:list-item;
    padding-left:12px;
} 
#navtag{
  text-decoration: none; 
  color: #ffffff; 
  width: 150px;
}

.loginnav{
    color:#0FABBC;
    position:relative;
}

:hover.loginnav{
    background :#0FABBC;
    width:0px;
    color:#ffff;
    text-decoration: none;

}
:hover.show{
    background : #fa1616;
    width:130px;
    color:#ffff;
    height:50px;
    text-decoration: none;
    font-size: 18px;
  }

:hover.primnav{
    background : #fa1616;
    width:130px;
    color:#ffff;
    height:50px;
    text-decoration: none;
}


.show,.icon, input{
    display:none;
}

/* *************HOME SLIDER******** */

#slide1 {
  padding-left: 10%;
  padding-top: 12%;
  width: 75%;
}
#slide1 div p{
  font-weight:600;
  line-height: 20px;
  text-shadow: 1px 2px #000;
}
#slide1 p{
  display: block;
  text-shadow: 1px 1px #000;
  
  
}
#dotnav{
position:relative; 
bottom: 10%;
}

.slidebtn{
  margin-top: 30px;
  color: #ffff;
  background-color: #0FABBC;
  font-weight:500;
  width: 125px;
  height: 50px;
  border-radius: 5px;
  border: unset;
}
:hover.slidebtn{
  background-color: #12cad6;
  
}



/* ********************************************1000px width */


@media screen  and (max-width:1000px){
  
  #registercard form {
   width: 100%;
  }
  #termscontainer{
    padding-top: 10%;
    height: 100%;
  }
  #termscard{
    width: 75%;
  
  }
  #registercard{
  
  height: 500px;
 
}
#regcontainer{
  padding-top: 10%;
  height: 100%;
  
}
#navtag{
  
  color:#fa1616; 
  
  
}
#navtag:hover{
  color: #ffffff; 
  
  
}


  
  #logincontainer{
    height: unset;

  }
  #logincard{
    margin-top: 10%;
    height: unset;
  }
  #logincard form{
    width: 100%;
  }
  #forgotpass{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Roboto', sans-serif; font-size: 10px;
  }
#dotnav{
  position: relative;
  bottom: 10%;
  
}  
#slide1 {
  padding-left: 10%;
  
  padding-top: 15%;
  width: unset;
}
#slide1 div p{
  font-weight:00;
  line-height: 30px;
  text-shadow: 1px 2px #000;
}

.slidebtn{
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 20px;
  height: 30px;
  color: #ffff;
  font-size: 0.7rem;
}

  .subnav a:hover{
    text-decoration: none;
    color: #ffffff;
  }
    .subnav, .subpro{
      height: 50px;
      text-decoration: none;
      background-color: rgba(166, 221, 230, 0.9);
    }
    :hover.subnav a ,.subpro a{
        color: #ffff;
        font-size: 14px;
        text-decoration: none;
    }
    .subnav a , .subpro a{
        color: #fa1616;
        font-size: 14px;
        text-decoration: none;
    }
    
    :hover.primnav{
     background : #fa1616;
     color:#ffff;
     text-decoration: none;
   }
     nav{
      
       position: relative;
       font-family: 'Roboto', sans-serif;
       z-index:50;
     }
     nav ul{
       margin-right:0px;
       float:left;
       font-size: 16px;
       line-height: 40px;
      
     }
     nav .logo {
       padding-left:10px;
       width:100%;
     }
     nav ul li{
       display:block;
       width: 100%;
       line-height:5px;
      
     }
     nav ul ul{
       top:20px;
       position: static;
       border-top:none;
       float:none;
       background-color: unset;
       display:none;
       opacity:1;
       visibility:visible;
     }
     nav ul ul li {
       position:static;
       border-top: 2px solid #fa1616;
       
     }
     .show{
       display:block;
       font-family: 'Roboto', sans-serif;
       left:-30px;
       color:#FA1616;
       width: 130px ;
       font-size:18px;
       padding:0 12px;
       line-height:50px;
       cursor: pointer;
       transition: 1s;
       
     }
     .icon{
       display:block;
       color:#FA1616;
       position: absolute;
       right:40px;
       line-height:80px;
       font-size:25px;
       cursor:pointer;
     }
     nav ul ul li{
       width:130px;
       
       padding-bottom:20px;
         
     }
     
     .show + a, nav ul{
       display:none;
     }  
    
       [id^=btn]:checked + ul{
       display: block;
       width: 200px;
       
      
       
     }
     .logo .sidenav{ 
        display: none;
        }

       
   }
/* *********************************************1242px width */
   @media all and (max-width:1256px){
    
     #logincard form{
       width: 75%;
      
     }
     #logincontainer{
       height: unset;
     }
     #loginbtn{
       padding-top: 5%;
     }
     #loginhead{
       padding-top: unset;
     }
     #forgotpass{
       padding-top: 5%;
     }

     nav{
       line-height:0px;
       position: relative;
       z-index:50;
     }
     
     nav ul{
       line-height:15px;
     }
      nav ul .mainnav {
       list-style:none;
       margin-right:15px;
       position:relative; 
     }
     nav .logo{
       padding:20px;
       
     }
   }
   /* ****************************************768px width */
   @media all and (max-width:768px){

    #registercard{
      height: 700px;
      width: 500px;
      padding: 20px;
    }

    #logincard{
      width: 75%;
      margin-top: 10%;
    }

    #section2right ul{
      margin: 0;
      padding-left: 0;
    }
    #section2{
      padding-bottom: 40px;
    }
    #slide1{
      padding: 18% 15%;
      
    }
    #slide1 div p{
      font-size: 30px;
      font-weight:500;
      line-height: 10px;
    }
    #slide1 p{
      font-size: 10px;
      font-weight:300;
      line-height: 10px;
    }
    .slidebtn{
      margin-top: 10px;
      margin-bottom: 20px;
      line-height: 20px;
      height: 30px;
      color: #ffff;
      font-size: 0.7rem;
    }

    
    nav .logo{
        padding:10px;
        
      }
      
      
    nav{
        
        position: relative;
        z-index:50;
      }
       
       [id^=btn]:checked + ul{
        display: block;
        width: 200px;
        
      }
      #section2{
        position: relative;
        bottom: 20px;
        background-color: r;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
      }
      #section2 div{
        padding-bottom: 0;
        border-radius: 10px;
        padding-top: 10px;
        }
    #homesection4clust{
      display:none;
    }
      
   }

/* ******************************************638px @media  width*/
@media all and (max-width:638px){
  
  .container .text {

    font-size: 1.5rem;
    margin-top: 20px;
  }

  .container form .form-row{
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    margin: unset;
    
  }
  .input-data{
    padding: 20px;
  }
  .input-data-submit{
    padding-top: 10%;
    font-size: 1rem;
  }
  #section2right p{
    margin-bottom: 10px;
  }
  #section2right ul{
    padding-left: 15%;
    margin: 0;
    
  }
  #section2{
    padding-bottom: 40px;
  }

#homesection3 img{
  width: max-content;
}
#homesection3 h2{
  font-weight: 500;
  font-size: 2rem;
  line-height: 64px;
}
#homesection3content{
  padding-left: 20px;
}
}
/* ********************************************************************************************* */
   @media all and (max-width:440px){
     #termscontainer{
      padding-top: 0%;
      padding-bottom: 0;
      
     }
     #termscard{
      padding-top: 60px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7) ;
     }
     #registercard{
      padding-top: 60px;
     }
     #regcontainer{
       padding-top: 0;
       padding-bottom: 0;
     
     }
     #logincard{
       margin-top: 20%;
     }
     #logincard form{
       width: 100%;
     }
     #homeOurService{
       background-image: none;
     }
    #homeOurService h1{
      
      
      color: black;
      margin-bottom: 10px;
      
      font-weight: 400;
      width: 60%;
      margin-left:80px;
      border-radius: 2px;
      line-height: 20px;
      padding: 10px;
      font-size: 1.5rem;
      ;
    }
    #dotnav{
      bottom: 0px;
    }

    #section2{
      position: unset;
      bottom:unset;
      
      padding-left: 10px;
      padding-right: 10px;
    }

    #slidearrow{
      width: 10%;
    }

    #slide1{
      padding: 28% 15%;
      width: 100%;
    }
    #slide1 div p{
      font-size: 20px;
      font-weight:600;
      line-height: 0.5px;
      text-shadow: #000;
    }
    #slide1 p{
      font-size: 10px;
      font-weight:300;
      line-height: 10px;
    }
    .slidebtn{
      margin-top: 10px;
      margin-bottom: 20px;
      line-height: 10px;
      height: 30px;
      
      color: #ffff;
      font-size: 0.7rem;
      
    }
    
   }


